<div class="card">
  <div class="card-header">
    Registro
  </div>
  <div class="card-body" >
    <form>
      <div class="form-group">
        <label for="title">Nombre:</label>
        <input type="text" class="form-control" > 
      </div>
      <div class="form-group">
        <label for="description">Cedula:</label>
        <input type="text" class="form-control" > 
      </div>
      <div class="form-group">
        <label for="description">Numero de Teléfon:</label>
        <input type="text" class="form-control" > 
      </div>
      <input type="submit" value="Registrar" class="btn btn-primary">
     
    </form>
  </div>
</div>
